/* 基础设置 */
.container{
    width: 1100px;
    margin: 0 auto;
}
/* #region标题样式start */
.title h3{
    padding: 0 20px;
    background-color: #bedcf6;
    height: 28px;
    line-height: 28px;
    border-radius: 15px 15px 0 0;
}
.title h3 span{
    font-size: 17px;
    font-weight: 700;
    color: #105fa5;
}
.title .more{
    height: 28px;
    line-height: 28px;

}
.title .more a{
    font-size: 14px;
    color: #666;
} 
/* #region标题样式end */
/* #region头部start */
.header {    
    height: 116px;
    background-color: #105fa5;
}
.header .container{
    background-image: url(../images/最上面导航栏.jpg);
    background-repeat: no-repeat;
    border-bottom:1px solid #3977AC ;
    background-position:  0 3px;
    
}
.header .container .logo{
    padding: 10px 0;
    cursor: pointer;
}
.header.search{
    width: 217px;
}
.header .search a{
    color: white;
    
}
.header .search div{
    margin-top: 19px;
    padding: 5px 0;
}
.header .search form{
    margin-right: 18px;
    margin-top: 50px;
    background-color: #105fa5;
    font-size: 0;
    border: 1px #D0D0D0 solid; 
}
.header .search form button{
    width: 32px;
    height: 24px;
    background-image: url(../images/搜索栏.png);
    background-color: #105fa5;
    cursor: pointer;
    background-position: 2px -2px ;
    
    vertical-align: top;
}
.header .search form input{
    color: #9FBED9;
    height: 24px;
    width: 110px;
    padding:0 4px ;
    background-color: #105fa5;
    font-size: 12px;
}
/* #endregion头部end */

/* #region导航栏start */
.nav {
    background-color: #105fa5;
    height: 45px;
}
.nav .container {
    background-image: url(../images/最上面导航栏2.jpg);
}
.nav li {
    float: left;
    height: 45px;
    width: 100px;
    line-height: 45px;
    text-align: center; 
    position: relative;
}

.nav li:hover,
.nav dt:hover {
    background-color: #1684E0;
}
.nav li > a {
    color: white;
    font-size: 16px;
    display: block; 
    width: 100%;
    height: 100%;
    text-align: center;
}
.nav li .second-menu {
    display: none;
    position: absolute;
    background-color: white;
    top: 45px;
    z-index: 10;
    padding: 0; 
    margin: 0; 
    left: 0;
    min-width: 100%; 
}

.nav li:hover .second-menu {
    display: block;
}
.nav li dt {
    width: 100%; 
    margin: 0;
    padding: 0;
    text-align: center; 
}
.nav li dt a {
    font-size: 14px;
    display: block; 
    color: black;
    line-height: 40px; 
    height: 40px;
    padding: 0 10px; 
    white-space: nowrap; 
}
.nav li .second-menu1 dt,
.nav li .second-menu2 dt,
.nav li .second-menu3 dt,
.nav li .second-menu4 dt,
.nav li .second-menu5 dt,
.nav li .second-menu6 dt,
.nav li .second-menu7 dt,
.nav li .second-menu8 dt,
.nav li .second-menu9 dt,
.nav li .second-menu10 dt {
    width: auto; 
    min-width: 100px; 
}
/* #endregion导航栏end */

/* #region主图start */
.main-pic{
    background-image: url(../images/主图区背景.jpg);
    border-top: 5px solid #D6BD8A;
    background-position: center;
}
.main-pic  ul img{
    width: 1100px;
    height: 402px;
}
.main-pic li{   
     width: 1100px;
    height: 402px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}
.main-pic li.current{
    z-index: 1;
    opacity: 1;
}

.main-pic .container{
    position: relative;
    height: 402px;
}
.main-pic #left {
    position: absolute;
    width: 39px;
    height: 64px;
    font-size: 30px;
    text-align: center;
    line-height: 64px;
    font-weight: bolder;
    top: 50%;
    transform: translatey(-50%);
    /* bottom: 0; */
    /* margin: auto; */
    background-color: black;
    opacity: 0;
    z-index: 2;
    border-radius: 7px ;
}
.main-pic .container:hover #left {
    opacity: 0.5;
}
.main-pic .container #left:hover {
    opacity: 1;
}

.main-pic .container:hover #right{
    opacity: 0.5;
}
.main-pic .container #right:hover {
    opacity: 1;
}
.main-pic #right {
    position: absolute;
    width: 39px;
    height: 64px;
    font-size: 30px;
    text-align: center;
    line-height: 64px;
    font-weight: bolder;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: black;
    opacity: 0;
    border-radius: 7px ;
    z-index: 2;
}


.main-pic #left img{
    margin-top: 13px;
    margin-left: 4px;
}
.main-pic #right img{
    margin-top: 5px;
    margin-left: 4px;
}
.main-pic  #right{
    right: 0;
}

/* #endregion主图end */

/* #region主要内容区1start */
.main-content1{
    height: 402.67px;
    background-image: url(../images/学院要闻背景.png);
    background-repeat: no-repeat;
}
.main-content1 .container{
    padding-top: 25px;
}
.main-content1 .news{
    width: 718px;
    height: 346px;
    padding-top: 14px;
}
.main-content1 .news .title{
    height: 40px;
    margin-bottom: 6px;
}
/* 标题样式 */
.main-content1  .title h3{
    padding: 0 20px;
    background-color: #bedcf6;
    height: 28px;
    line-height: 28px;
}
.main-content1  .title h3 span{
    font-size: 17px;
    font-weight: 700;
    color: #105fa5;
}
.main-content1  .title .more{
    
    height: 28px;
    line-height: 28px;
   
}
.main-content1  .title .more a{
    font-size: 14px;
    color: #666;
} 

/* 轮播图容器 */
.main-content1 .item1 .left-img{
    padding: 6px 0;
    width: 350px;
    height: 280px;
    position: relative;
    overflow: hidden;
}

.main-content1 .item1 .left-img ul {
    position: relative;
    height: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-content1 .item1 .left-img li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
}

.main-content1 .item1 .left-img .current{
    z-index: 2;
    opacity: 1;
}

.main-content1 .item1 img{
    width: 350px;
    height: 235px;
}

.main-content1 .item1 .left-img h2{
    font-size: 16px;
    padding: 0 15px;
    font-weight: bolder;
    background-color: #F1F1F1;
    height: 45px;
    line-height: 45px;
    margin: 0;
}

.main-content1 .item1 .left-img h2 a{
    color: #105fa5;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 导航点位置调整 */
.main-content1 .item1 .left-img .dot{
    position: absolute;
    width: 350px;
    height: 30px;
    bottom: 50px; 
    left: 0;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.447));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px; 
    z-index: 3;
}

.main-content1 .item1 .left-img .dot a{
    height: 6px;
    width: 6px;
    margin-right: 5px;
    background-color: white;
    display: inline-block;
}

.main-content1 .item1 .left-img .dot a:hover,
.main-content1 .item1 .left-img .dot .active {
    background-color: #004891;
}

/* 左箭头位置调整 */
.main-content1 .item1 .left-img #left {
    position: absolute;
    width: 30px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    font-weight: bolder;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%); 
    background-color: black;
    color: white;
    opacity: 0;
    z-index: 10;
    border-radius: 7px;
    text-decoration: none;
}

/* 右箭头位置调整 */
.main-content1 .item1 .left-img #right {
    position: absolute;
    width: 30px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    font-weight: bolder;
    top: 50%;
    right: 10px; /* 调整右侧位置 */
    transform: translateY(-50%); /* 垂直居中 */
    background-color: black;
    color: white;
    opacity: 0;
    border-radius: 7px;
    z-index: 10;
    text-decoration: none;
}

/* 箭头悬停效果 */
.main-content1 .item1 .left-img:hover #left,
.main-content1 .item1 .left-img:hover #right {
    opacity: 0.5;
}

.main-content1 .item1 .left-img #left:hover,
.main-content1 .item1 .left-img #right:hover {
    opacity: 1;
}

/* 右侧文字区域间距调整 */
.main-content1 .item1 .right-word{
    width: 340px;
    margin-left: 20px; 
}

.main-content1 .item1 .right-word div:first-child{
    width: 340px;
    padding-bottom: 15px; 
    margin-top: 5px;
    margin-bottom: 12px; 
    border-bottom: 1px dotted #7a7a7a;
}

.main-content1 .item1 .right-word div a{
    color: #404040;
    font-size: 16px;
    font-weight: bolder;
}

.main-content1 .item1 .right-word span{
    color: #7a7a7a;
    font-size: 13px;
    width: 340px;
    padding: 8px 0 12px;
    border-bottom: 1px dotted #7a7a7a;
    margin-bottom: 12px; 
    display: block;
}

.main-content1 .item1 .right-word ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-content1 .item1 .right-word li{
    height: 32px; 
    line-height: 32px;
    font-size: 14px;
    margin-bottom: 2px; 
}

.main-content1 .item1 .right-word li a{
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

/* 通知公告区域间距调整 */
.main-content1 .notice{
    width: 345px;
    height: 346px;
    padding-top: 14px;
}

.main-content1 .notice .notice-item{
    width: 345px;
    height: 74px;
    margin-bottom: 12px; 
    padding-bottom: 12px; 
    display: flex;
    align-items: flex-start;
}

.main-content1 .notice .notice-item1{
    margin-top: 12px; 
}

.main-content1 .notice .notice-item .day{
    width: 72px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    color: white;
    font-size: 24px;
    background-color: #004891;
    margin-right: 15px; 
}
.main-content1 .notice .notice-item .mouth{
    width: 72px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #737373;
    font-size: 12px;
    background-color: #e6e6e6;
    margin-top: 2px;
}

.main-content1 .notice .notice-item .notice-news{
    flex: 1; /* 使用flex布局自适应宽度 */
    font-size: 15px;
    line-height: 22px; 
    margin-top: 2px; 
}

.main-content1 .notice .notice-item .notice-news a {
    color: #333;
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* #endregion主要内容区1end */
/* #region主要内容区2start */
.main-content2{
    background-image: url(../images/main3.png);
    background-repeat: no-repeat;
    background-position: center
}
.main-content2 .container{
    padding-top: 35px;
    padding-bottom: 40px;
    height: 296.333px;

}
.main-content2 .container>div{
   
    height: 296.33px;

}
.main-content2 .container .activity{
    width: 350px;
}
.main-content2 .container .research{
    margin: 0 32px;
    width: 340px;
}
.main-content2 .container .download{
    width: 345px;
} 
.main-content2 .container ul{
    padding: 6px;
}
.main-content2 .container li{
    height: 24.667px;
    margin-bottom: 10px;
    font-size: 14px;
}
.main-content2 .container li a{
    color: #3b3b3b;
}
.main-content2 .container li span{
    color: #999999;
}
/* #endregion主要内容区2end */

/* #region师生风采区start */
.spirit .container{
    height: 289.333px;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;

}
.spirit .container .title{
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 25px;
}
.spirit .container .spirit-img{
    position: absolute;
    left: 0;
    display: flex;
}
.spirit .container .img{
    width: 250px;
    height: 220px;
    padding: 0 16px;
    
}
.spirit .container .img:first-child{
    padding-left: 0;
}
.spirit .container .img:last-child{
    padding-right: 0;
}
.spirit .container .img img{
    width: 250px;
    height: 180px;
}
.spirit .container .img div{
    width: 287px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    
}


/* #endregion师生风采区end */

/* #region党建活动区start */
.party-building .container .title{
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 25px;
}
.party-building .container{
    height: 236px;
    margin-bottom: 10px;
}

.party-building ul{
    height: 148.67px;
}
.party-building li{
    float: left;
    width: 339px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin: 0 15px 25px;
    background-color: #EBF1F5;
    border: 1px solid #B9C9D6;
}
.party-building li:nth-child(1),
.party-building li:nth-child(4){
    margin-left: 0;
}
.party-building li a{
    font-size: 15px;
    color: #3b3b3b;
    
}
/* #endregion党建活动区end */

/* #region校内资源区start */
.resources .container{
    height: 153.667px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.resources .container .title{
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 25px;
}
.resources ul{
    padding: 6px 0;
}
.resources li{
    float: left;
    width: 145px;
    height: 75px;

    margin: 0 6px 10px ;
}
.resources li:first-child{
    margin-left: 0;
}
.resources li a{
    display: inline-block;
    width: 145px;
    height: 106px;
    font-size: 15px;
    line-height: 106px;
    text-align: center;
    
    background-repeat: no-repeat;
    
}
.resources  .ul-pic1{
    background-image: url(../images/icon1.png);
}
.resources  .ul-pic2{
    background-image: url(../images/icon2.png);
}
.resources  .ul-pic3{
    background-image: url(../images/icon3.png);
}
.resources  .ul-pic4{
    background-image: url(../images/icon4.png);
}
.resources  .ul-pic5{
    background-image: url(../images/icon5.png);
}
.resources  .ul-pic6{
    background-image: url(../images/icon6.png);
}
.resources  .ul-pic7{
    background-image: url(../images/icon7.png);
}

/* #endregion校内资源区end */

/* #region页脚start */
.footer{
    background-color: #125FA3;
    height: 231.33px;
}
.footer .foot-top{
    width: 1100px;
    border-bottom:  1px solid #297CC4;
   
}
.footer .foot-top li{
    float: left;
}
.footer .foot-top li div{
    padding: 25px 14px;
    font-size: 14px;
    height: 34.67px;
    line-height: 34.67px;
    color: #D0DFED;
}
.footer .foot-top li:first-child div{
   
    color: white;
    font-weight: bolder;
}
.footer .notice{
    text-align: center;
    padding: 45px 0;
    position: relative;
}
.footer .notice span{
    height: 28px;
    display: inline-block;
    font-size: 13px;
    color: #88B5DE;
    color: #fffa;
    text-align: center;
    font-weight: 400;
    font-family: "微软雅黑";
    line-height: 28px;
    
}
.footer .notice ul{
 position: absolute;
 width: 200px;
 height: 110px;
 right: 0;
 top: 16px;
}
.footer .notice ul li{
    margin-left: 20px;
}
.footer .notice ul li img{
    width: 80px;
    height: 80px;
}
.footer .notice ul li span{
    font-size: 12px;
    color: white;
}
/* #endregion页脚end */
